<h1>{{ (heroe.id)? 'Editar' : 'Nuevo' }} Héroe <small>{{heroe.superhero}}</small></h1>
<mat-divider></mat-divider>
<div class="container-xxl">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Super Héroe</mat-label>
                            <input matInput
                                   type="text"
                                   [(ngModel)]="heroe.superhero"
                                   required
                                   #superHero>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Alter Ego</mat-label>
                            <input matInput
                                   type="text"
                                   [(ngModel)]="heroe.alter_ego"
                                   required
                                   #alter_ego>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Primera Aparición</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.first_appearance"
                        required
                        #first_appearance>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Personajes</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.characters"
                        required
                        #characters>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Creador</mat-label>
                    <mat-select [(ngModel)]="heroe.publisher" required>
                        <mat-option *ngFor="let item of publisher"
                                    [value]="item.id">
                            {{ item.desc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Foto Url</mat-label>
                    <input matInput
                        type="url"
                        [(ngModel)]="heroe.alt_img"
                        required
                        #alt_img>
                </mat-form-field>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button mat-raised-button color="primary" (click)="guardar()">
                            <mat-icon>save</mat-icon>
                            {{ (heroe.id)? 'Actualizar' : 'Crear' }}
                        </button>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3">
                        <button *ngIf="heroe.id" mat-raised-button color="warn" (click)="borrarHeroe()">
                            <mat-icon>remove</mat-icon>
                            Borrar
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <img [src]=" heroe | imagen">
            </div>
        </div>
    </div>
</div>
